<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">


    <listeners>
        <listener class-name="ExtentReports.ExtentListners"/>
    </listeners>

    <test name="create customer">
        <classes>

            <class name="Stripetests.CreateCustomerTest"/>
        </classes>
    </test>
    <test name="delete customer">
        <classes>
            <class name="Stripetests.DeleteCustomerTest"/>
        </classes>
    </test>

    <test name="retrieve customer">
        <classes>
            <class name="Stripetests.UpdateCustomerTest"/>
        </classes>
    </test>
</suite>